<a href="https://colab.research.google.com/github/kenneth-craig/academyPub/blob/main/ML-XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#upload sonar.csv file from local drive and import file
# load and summarize the sonar dataset
from google.colab import files
import pandas as pd
import numpy as np

file = files.upload()

Saving horse-colic.csv to horse-colic.csv

In [15]:
!pwd
!ls

/content
datasets-uci-breast-cancer.csv	horse-colic.csv  sample_data

# Simple XGBoost Problem
**Using pima indians diabetes dataset**

In [ ]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np

ds = np.loadtxt('/content/pima-indians-diabetes.data.csv', delimiter=',')

# Split into X & Y datset
# X is columns 0..7
# & is column 8 transposed
X = ds[:,0:8]
Y = ds[:,8]

# Split into TRAIN & TEST datasets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=7)

#fit model on training data
model = XGBClassifier()
model.fit(X_train, Y_train)

# make predictions for the test data
predictions = model.predict(X_test)

# evaluation predictions
accuracy = accuracy_score(Y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100))

Accuracy: 77.95%

# Using XGBoost to Predict Iris flower
**Label Encoding**

In [ ]:
import pandas as pd
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

#load dataset
df = pd.read_csv('iris.csv', header=None)
ds = df.values

# Split the data into X and Y
X = ds[:,0:4]
Y = ds[:,4]

# Encode string class values as integers
label_encoder = LabelEncoder()
label_encoder = label_encoder.fit(Y)
le_y = label_encoder.transform(Y)

X_train, X_test, y_train, y_test = train_test_split(X, le_y, test_size=0.33, random_state=7)

# Fit model on training data
model = XGBClassifier()
model.fit(X_train, y_train)

#make predictions for test data
y_predictions = model.predict(X_test)

# Evaluate predictions
accuracy = accuracy_score(y_test, y_predictions)
print("Accuracy: %.2f%%" % (accuracy * 100))

Accuracy: 92.00%

# XGBoost with Categorical Data
**One Hot Encoding**

In [ ]:
import pandas as pd
from numpy import column_stack
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

# Load data
df = pd.read_csv('/content/datasets-uci-breast-cancer.csv', header=None)

ds = df.values

# split into X & y
X = ds[:,0:9]
X = X.astype(str)
y = ds[:,9]

# Encode string input values as integers
columns = []
for i in range(0, X.shape[1]):
  label_encoder = LabelEncoder()
  feature = label_encoder.fit_transform(X[:,i])
  feature = feature.reshape(X.shape[0], 1)
  # print("feature_shape before onehot: ", feature.shape)
  onehot_encoder = OneHotEncoder(sparse=False, categories='auto')
  feature = onehot_encoder.fit_transform(feature)
  print("feature_shape after onehot: ", feature.shape)
  columns.append(feature)
  
# collapse columns into array
encoded_x = column_stack(columns)
print("encoded X shape: ", encoded_x.shape)

# encoding string class values as integers
label_encoder = LabelEncoder()
label_encoded_y = label_encoder.fit_transform(y)

# split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(encoded_x, label_encoded_y, test_size=0.33, random_state=7)

# fit model on training data
model = XGBClassifier()
model.fit(X_train, y_train)
print(model)

# make predictions for test data
y_predictions = model.predict(X_test)

# evaluate predictions
accuracy = accuracy_score(y_test, y_predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

feature_shape after onehot:  (286, 6)
feature_shape after onehot:  (286, 3)
feature_shape after onehot:  (286, 11)
feature_shape after onehot:  (286, 7)
feature_shape after onehot:  (286, 3)
feature_shape after onehot:  (286, 3)
feature_shape after onehot:  (286, 2)
feature_shape after onehot:  (286, 6)
feature_shape after onehot:  (286, 2)
encoded X shape:  (286, 43)
XGBClassifier()
Accuracy: 71.58%

In [ ]:
print(type(encoded_x))
print(encoded_x)

<class 'numpy.ndarray'>
[[0. 0. 1. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 ...
 [0. 1. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]]

In [ ]:
df.head(3)

         0          1        2  ...           7     8                       9
0  '40-49'  'premeno'  '15-19'  ...   'left_up'  'no'     'recurrence-events'
1  '50-59'     'ge40'  '15-19'  ...   'central'  'no'  'no-recurrence-events'
2  '50-59'     'ge40'  '35-39'  ...  'left_low'  'no'     'recurrence-events'

[3 rows x 10 columns]

In [ ]:
print(X)

[["'40-49'" "'premeno'" "'15-19'" ... "'3'" "'right'" "'left_up'"]
 ["'50-59'" "'ge40'" "'15-19'" ... "'1'" "'right'" "'central'"]
 ["'50-59'" "'ge40'" "'35-39'" ... "'2'" "'left'" "'left_low'"]
 ...
 ["'30-39'" "'premeno'" "'30-34'" ... "'2'" "'right'" "'right_up'"]
 ["'50-59'" "'premeno'" "'15-19'" ... "'2'" "'right'" "'left_low'"]
 ["'50-59'" "'ge40'" "'40-44'" ... "'3'" "'left'" "'right_up'"]]

In [22]:
# Method for obtaining unique values for categories
list_col = df.columns.tolist()
for col in list_col:
   i = df.iloc[:,col].unique()
   print (col, ':- ', i)

0 :-  ['2' '1' '?']
1 :-  [1 9]
2 :-  [ 530101  534817  530334 5290409  530255  528355  526802  529607  530051
 5299629  528548  527927  528031 5291329  534917  530233 5301219  526639
 5290481  532110  530157  529340  521681  534998  533692  529518  530526
  528653 5279442  535415  529475  530242  529427  529663  529796  528812
  529493  533847  528996 5277409  529498 5288249  530301  534069  535407
  529827  529888  529821  528890  529642  529766  527706  529483  530544
  529461 5282839  528872  529640  528298  528904  530438  527957  528630
  534293  529667  534885  534784  528931  529777  530276  528214  529424
 5299253  528469 5292929  534092  534615  534753  530693  527463  527518
  534756 5290759 5279822  529849  529304  529388  528006  529703  535381
  534197  530251  530310  528729  535158  530319  534145  534135  530002
  535364  534899  534938 5292489  527563  530381  528668  529764  533696
 5297379  527544  533736  534963  527933  532349  533723  535208 5290482
  533983  535166  528682  534556  534579  530360  529840  528461  530384
 5262541  535330  527698  528964  530670  534572  530294  527524 5287179
  534324  534491  529960  522979  530402  534519  535246  534115  530001
  529272  535314  533793  529399  533836  528804  535163  528247  533928
  528248  528134  527916  530431  535176  533942  528523  534925  528299
  530254  535085  532985  527677  535292  529729  518476  527929  535130
  523190  533968  528151  530239  528305  534857  534053  534833 5278331
  527365  533887 5299603  528742 5287279  534788  529373  534163  533697
  529628  521399  533885  534157  528047  528641  534073  529685  529528
  535137  530297  535338  534478  530401  529893 5294369  528183  529183
  529135  528977 5279441  535240  529736  535029  535031  528800  528178
  535392  528503 5289419  535196  534597  534280  530028 5262543  528179
  533750  528702  534183  529160  529045  530354 5281091 5291409  530366
  530170  527709  528169  535043  527940 5291719  530561  533738 5294539
  533871  529812  534719  527734  534933  529296 5305629  528743  530478
  528590  529865  527829  534403  527883  528570  534626  528638  534624
 5297159  534787  528620  528019  529172  534644  530624  527758  530439
 5283431 5275212 5305129  529428  529126  535054  530034  534004  533902
  533886  527702  529386  530612  534618]
3 :-  ['38.50' '39.2' '38.30' '39.10' '37.30' '?' '37.90' '38.10' '37.20'
 '38.00' '38.2' '37.60' '37.50' '39.4' '39.90' '38.40' '38.60' '38.3'
 '38.1' '37.80' '37.7' '37.70' '38.20' '37.8' '39.20' '39.00' '35.4'
 '38.90' '37.40' '40.30' '37.9' '37.00' '39.7' '37.6' '38.7' '36.40'
 '37.3' '38.0' '38.80' '39.60' '36.80' '38.4' '39.50' '36.5' '39.40'
 '38.70' '37.4' '38' '36.00' '37.1' '38.9' '39.30' '38.8' '39.5' '37.5'
 '38.5' '37.10' '36.10' '39.3' '36.60' '40.80' '36.90' '38.6' '40.00'
 '36.50' '37.2']
4 :-  ['66' '88' '40' '164' '104' '?' '48' '60' '80' '90' '72' '42' '92' '76'
 '96' '128' '64' '110' '130' '108' '100' '112' '52' '146' '150' '120'
 '140' '84' '46' '114' '160' '54' '56' '38' '98' '50' '44' '70' '78' '49'
 '30' '136' '132' '65' '86' '129' '68' '36' '45' '124' '184' '75' '82']
5 :-  ['28' '20' '24' '84' '35' '?' '16' '36' '12' '52' '48' '21' '60' '34' '42'
 '30' '96' '72' '15' '44' '32' '22' '18' '80' '40' '10' '51' '68' '66' '9'
 '14' '90' '8' '23' '58' '13' '70' '26' '88' '25' '50']
6 :-  ['3' '?' '1' '4' '2']
7 :-  ['3' '?' '1' '4' '2']
8 :-  ['?' '4' '3' '6' '1' '5' '2']
9 :-  ['2' '1' '?' '3']
10 :-  ['5' '3' '2' '?' '4' '1']
11 :-  ['4' '3' '?' '1' '2']
12 :-  ['4' '2' '1' '?' '3']
13 :-  ['?' '1' '2' '3']
14 :-  ['?' '2' '1' '3']
15 :-  ['?' '5.00' '3.00' '7.20' '4.50' '5.50' '2' '4.00' '6.00' '7.00' '1'
 '5.70' '1.50' '4.40' '6.50' '6.20' '4.30' '5.30' '7.50' '5.40' '3.50']
16 :-  ['3' '4' '1' '?' '2']
17 :-  ['5' '2' '1' '?' '3' '4']
18 :-  ['45.00' '50' '33.00' '48.00' '74.00' '?' '37.00' '44.00' '38.00' '40.00'
 '50.00' '46' '53.00' '55' '46.00' '49.00' '51' '43.00' '45' '66.00'
 '52.00' '73.00' '51.00' '56' '32.00' '63.00' '47.00' '52' '57' '60.00'
 '65.00' '54.00' '41.00' '57.00' '24.00' '42.00' '64.00' '65' '26' '58'
 '55.00' '48' '37' '33' '69.00' '36' '36.00' '68.00' '38' '53' '41'
 '59.00' '34' '39.00' '39' '42' '67' '31' '43' '31.00' '75' '75.00' '68'
 '35' '35.00' '44' '54' '30.00' '23.00' '58.00' '70.00' '49' '64' '71.00'
 '31.50' '72.00' '47' '34.00' '66' '37.50' '28.00']
19 :-  ['8.40' '85' '6.70' '7.20' '7.40' '?' '7.00' '8.30' '6.20' '6.00' '7.80'
 '6.10' '81' '6.80' '8.7' '70' '65' '5.50' '76' '7.50' '8.20' '6.60'
 '8.60' '80' '6.50' '8.50' '67' '69' '9.10' '7.70' '6.40' '8.10' '5.90'
 '8.00' '82' '72' '74' '6.30' '7.60' '4.90' '57' '68' '77' '8.90' '5.70'
 '4.50' '61' '86' '60' '66' '5.30' '7.30' '64' '58' '56' '75' '10.2' '62'
 '7.90' '73' '71' '7.0' '63' '46' '7.2' '5.80' '53' '4.70' '59' '55'
 '8.70' '89' '51' '4.00' '11.00' '8.80' '50' '54' '6.90' '4.60' '13'
 '7.10' '3.30' '9.00' '5.00']
20 :-  ['?' '2' '3' '1']
21 :-  ['?' '2' '5.30' '2.20' '3.60' '4.70' '3.90' '1.30' '7.40' '6.60' '1.00'
 '5.00' '0.10' '4.10' '1.60' '4.50' '6.00' '1' '7.00' '2.60' '1.40' '2.30'
 '3.70' '2.80' '10.00' '2.00' '2.90' '5.20' '4.30' '3.40' '3.00' '10.10'
 '1.50' '2.10' '8.00' '4.80' '3.20' '4.40' '2.50' '3.30']
22 :-  ['2' '3' '1' '?']
23 :-  [2 1]
24 :-  [11300  2208     0  4300  3124  3205  2124  2111  4124  2112  3207  1400
  4205  3111  4122  2207  2209  1124  7111  5205  2113  9400  2305  7209
  7400  3112  3209  2322 11124  3025  2205  5206   400  5000  5400 31110
  2206  5124  7113  6209  3400  6112  6111  1111  2300 21110  4111  3133
  5111   300  3115  9000  3300  3113 41110 11400 12208  4206  4207  8300
  8400]
25 :-  [   0 1400 7111 3111 6112 3112]
26 :-  [   0 2209]
27 :-  [2 1]

In [12]:
# Simplar code as above but used OrdinalLabeling for Age of person instead of OneHot and Accuracy results went down by 1%
import pandas as pd
from numpy import column_stack
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

# Load data
df = pd.read_csv('/content/datasets-uci-breast-cancer.csv', header=None)

ds = df.values

# split into X & y
X = ds[:,0:9]
X = X.astype(str)
y = ds[:,9]

# Encode string input values as integers
t = [('OrdAge', OrdinalEncoder(), [0]), ('hot', OneHotEncoder(), [1,2,3,4,5,6,7,8])]

transform = ColumnTransformer(transformers=t)

# transform the training data
encoded_x = transform.fit_transform(X)

# encode y output
label_encoder = LabelEncoder()
label_encoded_y = label_encoder.fit_transform(y)

# Create train/test dataset
X_train, X_test, y_train, y_test = train_test_split(encoded_x, label_encoded_y, test_size=0.33, random_state=7)

# Fit model on Training data
model = XGBClassifier();
model.fit(X_train, y_train)
print(model)

# Evaluate model
y_predictions = model.predict(X_test)

#evaluate predictions
accuracy = accuracy_score(y_test, y_predictions)
print("Accuracy %.2f%%" % (accuracy * 100))

XGBClassifier()
Accuracy 70.53%

In [4]:
# UNFINISHED CODE - Same code as above but trying to get it working using Pythonic with a For Next loop but didn't get it finished
import pandas as pd
from numpy import column_stack
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

# Load data
df = pd.read_csv('/content/datasets-uci-breast-cancer.csv', header=None)

ds = df.values

# split into X & y
X = ds[:,0:9]
X = X.astype(str)
Y = ds[:,9]

# Encode string input values as integers
t[0] = 'OrdAge', OrdinalEncoder(), [0]

t[1] "'hot', OneHotEncoder(), [1,2,3,4,5,6,7,8]"
t[1] = t1
t1 = "'hot', OneHotEncoder(), ["

for i in range (1, X.shape[1]):
  t1 = t1 + str(i)
  print(t1)

t1 = t1 + X.shape[1] + ']'
print(t1)

transform = ColumnTransformer(transformers=t)

# transform the training data
X_encoded = transformer.fit_transform(X)

# encode y output
label_encoder = LabelEncoder()
label_encoded_y = label_encoder.fit_transform(y)

# Create train/test dataset
X_train, X_test, y_train, y_test = train_test_split(X_encoded, label_encoded_y, test_size=0.33, random_state=7)

# Fit model on Training data
model = XGBClassifier();
model.fit(X_train, y_train)
print(model)

# Evaluate model
y_predictions = model.predict(X_test)

#evaluate predictions
accuracy = accuracy_score(y_test, y_predictions)
print("%.2f%%" % (accuracy * 100))

SyntaxError: ignored

In [17]:
# UNFINISHED CODE: For Next loop to build command for COLUMN_TRANSFORMATION for OneHot Encoding all columns

from numpy import array

# Encode string input values as integers

t = []
#t[0] = 'OrdAge', OrdinalEncoder(), [0]

# format of t[1] = 'hot', OneHotEncoder(), [1,2,3,4,5,6,7,8]

t1 = "('hot', OneHotEncoder(), ["

for i in range (1, X.shape[1]):
  t1 = t1 + str(i)
  
  if i != X.shape[1]-1:
    t1 = t1 + ','
  print(t1)

t1 = t1 + ']'
print(t1)

t[0] = ('OrdAge', OrdinalEncoder(), [0])
print('value of t0: ', t[0])
#print(type of )
print('value of t1: ', t[1])

print('value of t', t)

('hot', OneHotEncoder(), [1,
('hot', OneHotEncoder(), [1,2,
('hot', OneHotEncoder(), [1,2,3,
('hot', OneHotEncoder(), [1,2,3,4,
('hot', OneHotEncoder(), [1,2,3,4,5,
('hot', OneHotEncoder(), [1,2,3,4,5,6,
('hot', OneHotEncoder(), [1,2,3,4,5,6,7,
('hot', OneHotEncoder(), [1,2,3,4,5,6,7,8
('hot', OneHotEncoder(), [1,2,3,4,5,6,7,8]

IndexError: ignored

**XGBoost Example of Handling Missing Data**
XGBoost was designed to work with Sparse & Missing Data

In [30]:
# XGBoost Example With Missing Data
import pandas as pd
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

# Load dataframe
df = pd.read_csv("horse-colic.csv", delim_whitespace=True, header=None)

ds = df.values

# Split into X and y
X = ds[:,0:27]
Y = ds[:,27]

# Set missing values to NaN.
# Setting the value to NaN instead of 0 sees the accuracy score lift by 2% from 83.84% to 85.86%
# Imputing with the mean or medium saw the accuracy reduce to 79.80%, the same as setting this value to 1 instead of setting it to 0
X[X == '?'] = 0

# Also covert data set to Numeric instead of String data type
X = X.astype('float32')

# Encoded y class values as 0 & 1 integers using Label Encoder
label_encoder = LabelEncoder()
label_encoded_y = label_encoder.fit_transform(Y)

# split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, label_encoded_y, test_size=0.33, random_state=7)

# Fit model on Training data
model = XGBClassifier()
model.fit(X_train, y_train)
print(model)

# Make predictions for Test data
predictions = model.predict(X_test)

accuracy = accuracy_score(y_test, predictions)
print("Accuracy %.2f%%" % (accuracy * 100))

XGBClassifier()
Accuracy 83.84%

In [23]:
df.head(10)

  0   1        2      3    4   5  6  7   ... 20    21 22 23     24 25 26 27
0  2   1   530101  38.50   66  28  3  3  ...  ?     ?  2  2  11300  0  0  2
1  1   1   534817   39.2   88  20  ?  ?  ...  2     2  3  2   2208  0  0  2
2  2   1   530334  38.30   40  24  1  1  ...  ?     ?  1  2      0  0  0  1
3  1   9  5290409  39.10  164  84  4  1  ...  3  5.30  2  1   2208  0  0  1
4  2   1   530255  37.30  104  35  ?  ?  ...  ?     ?  2  2   4300  0  0  2
5  2   1   528355      ?    ?   ?  2  1  ...  ?     ?  1  2      0  0  0  2
6  1   1   526802  37.90   48  16  1  1  ...  ?     ?  1  1   3124  0  0  2
7  1   1   529607      ?   60   ?  3  ?  ...  ?     ?  2  1   2208  0  0  2
8  2   1   530051      ?   80  36  3  4  ...  ?     ?  3  1   3205  0  0  2
9  2   9  5299629  38.30   90   ?  1  ?  ...  1  2.20  1  2      0  0  0  1

[10 rows x 28 columns]